.theme-blanc {
    --couleur-back: white;
    --couleur-front: black;
    --font-couleur: black;
    --couleur-mot-fond:#808080;
    --couleur-mot-neutre: black;

}

.theme-noir {
    --couleur-back: black;
    --couleur-front: white;
    --font-couleur: white;
    --couleur-mot-fond:#808080;
    --couleur-mot-neutre: white;
}

body {
    background-color: var(--couleur-back);
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--couleur-back);
    overflow: hidden;
    padding-top: 30px;
}

.sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: var(--couleur-front);
    display: block;
}

.sidenav a:hover {
    color: gray;
}

.pagePrincipale {
    margin-left: 160px;
    display: flex;
    flex-wrap: nowrap;
}

.pagePrincipale > div {
    width: 100%;
    line-height: 100%;
}

#mot {
    font-size: 20px;
}

.texte {
    color: var(--font-couleur);
}

#temps {
    text-align: center;
}

#maSaisie {
    width: 100%;
    height: 50px;
    font-size: 25px;
    outline-color: blue !important;
}


.resultat {
    color: var(--font-couleur);
    text-align: center;
    display: none;
}

.vue {
    width: 100%;
    border: 2px;
    border-style: solid;
    border-color: gray;
    /* border-radius: 7px; */
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.fond {
    /* background-color: rgb(119, 119, 119); */
    background-color: var(--couleur-mot-fond);
}

.neutre {
    color: var(--couleur-mot-neutre);
}

.bouton {
    width: 20%;
    height: 25px;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 7px;
    margin-top: 100px;
    background-color: dimgrey;
    color: var(--couleur-front);
}

.param {
    color: white;
}

.millieu {
    text-align: center;
    font-size: large;
}